*{
    align-self: center;
}
.NASA__image{
    width:100%;
    object-fit:contain;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
}
.posts__header{
    display:flex;
    align-items:center;
    padding:20px;
    border-top: 1px solid lightgray;
}
.posts__avi{
    margin-right:10px;
}
.posts{
    max-width:450px;
    margin-bottom:40px;
    background-color:#FFFFFF;
    border:1px solid lightgray;
}