*{
  margin:0
  
}
.font-face-gm{
  font-family:"Coolvetica"
}
.app__header{
  object-fit:contain;
  background-color:#FFFFFF;
  padding:20px;
  object-fit:contain;
  border-bottom:1px solid #D3D3D3;
}
.app{
  background-color:#f5f5f5;
}